// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// # Utils

.cursor-pointer {
    cursor: pointer;
}

// # Header → Navbar

.nav-link {
    margin: 0 1rem;
}

.nav-link:hover {
    padding-bottom: 4px;
    color: #0282f9;
    border-bottom: 4px solid #0282f9;
    border-radius: 0.2rem;
}

.nav-link.active {
    padding-bottom: 4px;
    color: #0282f9 !important;
    border-bottom: 4px solid #0282f9;
    border-radius: 0.2rem;
}

// # Footer → Upper Footer

.upper-footer {
    background-image: url(../img/footer-bg.jpg);
    font-size: 0.8rem;
}

.upper-footer li {
    cursor: pointer;
}

.upper-footer li:hover {
    color: #0282f9;
}

.footer-dc-logo {
    background-image: url(../img/dc-logo-bg.png);
    width: 350px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: contain;
}

// # Footer → Lower Footer

.lower-footer {
    background-color: #303030;
}

.btn.btn-sign-up {
    border: 3px solid #0282f9;
    color: white;
    border-radius: 0;
}

.btn.btn-sign-up:hover {
    background-color: #0282f9;
}

.social-link:hover {
    background-color: #0282f9;
    border-radius: 50%;
}
